html,
body {
  margin: 0;
  background-color: #f3f3f3;
}

.iconfont-symbol {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


.clr-green{
  color: #67C23A;
}